:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --bg-color: #2f303a;
  --white-color: #ffffff;
  --black-color: #000000;
  --btn-color: #f5f4fa;
  --hover-color: #188ce8;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --icon-bg-color: #44454e;
  --overlay-bg: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-modal: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.btn {
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.media-icon:hover, .media-icon:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.team-contacts-link {
  fill: var(--icon-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-modal);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid var(--overlay-modal);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 0;
  cursor: pointer;
  padding: 0;
}

.modal-btn:focus > .btn-icon {
  fill: var(--accent-color);
}

.btn-icon {
  transition: fill 250ms var(--timing-function);
}

.btn-icon:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

textarea {
  resize: none;
}

.policy-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.policy-checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-checkbox:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.form {
  margin: 0 auto;
  padding: 40px;
}

.form-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-item:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  color: var(--second-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  margin: 0;
  padding: 11px 42px;
  width: 370px;
  height: 40px;
  border: 1px solid var(--input-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-input:hover, .form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input:hover + .form-item-icon,
.form-input:focus + .form-item-icon {
  fill: var(--accent-color);
}

.form-btn {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-item textarea::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-textarea:hover, .form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-link {
  margin-left: 4px;
  color: var(--accent-color);
}

.checkbox-icon {
  margin-right: 7px;
  display: inline-block;
  width: 16px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  height: 15px;
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-item-icon {
  fill: var(--main-text-color);
  position: absolute;
  top: 55%;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
  .form-link {
    margin-left: 7px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    border: none;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu-btn:focus > .mobile-menu-item {
    fill: var(--accent-color);
  }
  .mobile-menu-item {
    height: 40px;
    width: 40px;
    fill: var(--black-color);
  }
  .mobile-menu__contacts {
    margin-top: 300px;
  }
  .mobile-menu__item {
    font-weight: 500;
    font-size: 40px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__email {
    font-weight: 500;
    font-size: 24px;
    color: var(--second-text-color);
    letter-spacing: 0.02em;
    line-height: 1.16;
  }
  .mobile-menu__tel {
    font-weight: 500;
    font-size: 34px;
    color: var(--accent-color);
    letter-spacing: 0.02em;
    line-height: 1.18;
  }
  .mobile-menu__link {
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    line-height: 1.18;
  }
  .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__social {
    display: flex;
    margin-top: 64px;
  }
  .mobile-menu__social-item--line {
    position: relative;
  }
  .mobile-menu__social-item--line:before {
    content: '';
    display: block;
    width: 1px;
    height: 22px;
    background: var(--placeholder-color);
    position: absolute;
    left: -10px;
  }
  .mobile-menu__social-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 380px) {
  .mobile-menu__item {
    font-size: 34px;
  }
  .mobile-menu__email {
    font-size: 20px;
  }
  .mobile-menu__tel {
    font-size: 28px;
    color: var(--accent-color);
  }
  .mobile-menu__social-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .header__container > .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
}

.logo {
  font: 700 24px 'Raleway', sans-serif;
  color: var(--black-color);
  line-height: 1.16;
  text-decoration: none;
}

.logo__part {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu,
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 88px;
  }
  .menu__link {
    color: var(--main-text-color);
    transition: color 250ms var(--timing-function);
    position: relative;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts__item {
    position: relative;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__container {
    padding: 0 15px;
  }
  .header__container .menu__link {
    display: flex;
    padding: 32px 0;
  }
  .menu {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .contact__link {
    font-size: 12px;
    display: flex;
    color: var(--second-text-color);
    margin: 0;
    display: flex;
    align-items: center;
    transition: color 250ms var(--timing-function);
    font-weight: 500;
    line-height: 1.14;
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__icon {
    padding-bottom: 0;
    margin-right: 10px;
    fill: currentColor;
  }
  .menu__link {
    font-weight: 500;
    line-height: 1.14;
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link--current {
    color: var(--accent-color);
  }
  .menu__link--current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    bottom: -1px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contact__link {
    font-size: 14px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/hero-mobile.jpg");
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/studio/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/studio/hero/hero-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/studio/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/studio/hero/hero-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/studio/hero/hero-desktop@2x.jpg");
  }
}

.hero-title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.62;
  color: var(--white-color);
}

.order-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 0;
  cursor: pointer;
  padding: 10px 32px;
}

.order-btn:hover {
  background-color: var(--hover-color);
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  .hero {
    padding: 200px 0;
  }
}

.features {
  margin: 0 auto;
}

.features__item {
  max-width: 450px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--btn-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.feature__desc {
  line-height: 1.71;
  color: var(--second-text-color);
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .feature__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
  .features__item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
  .servises {
    display: flex;
  }
  .servises__item {
    width: 370px;
    position: relative;
  }
  .servises__item:not(:last-child) {
    margin-right: 30px;
  }
  .servises__label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--overlay-bg);
    width: 100%;
    height: 70px;
    padding: 27px 15px;
    text-align: center;
  }
  .servises__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
  }
}

.team {
  background: var(--btn-color);
}

.team-member {
  max-width: 450px;
  background: var(--white-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-bottom: 30px;
}

.team-member-name {
  padding-top: 30px;
  padding-bottom: 24px;
}

.member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.member-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-contacts-list {
  display: flex;
  justify-content: center;
}

.team-contacts-item:not(:last-child) {
  margin-right: 10px;
}

.team-member__photo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-member {
    width: 354px;
  }
  .team-member:not(:last-child) {
    margin-bottom: 0;
  }
  .team-member:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .team-member:nth-child(odd) {
    margin-right: 30px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .team-member-name {
    padding: 30px;
  }
  .team-member {
    width: 270px;
  }
  .team-member:not(:last-child) {
    margin-right: 30px;
  }
  .team-member:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-bottom: 30px;
}

.clients-link {
  display: block;
  width: 230px;
  height: 92px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .clients-item:not(:last-child) {
    margin-bottom: 0;
  }
  .clients-link {
    width: 210px;
  }
  .clients-item:nth-child(odd) {
    margin-right: 30px;
  }
  .clients-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
  .clients-item:nth-child(odd) {
    margin-right: 0;
  }
  .clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-item:nth-child(-n + 4) {
    margin-bottom: 0;
  }
  .clients-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
  .clients-link {
    width: 170px;
  }
  .clients-item {
    margin-bottom: 0;
  }
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
  text-align: center;
}

.footer-logo {
  display: block;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.logo-part {
  color: var(--accent-color);
}

.address-item {
  line-height: 1.71;
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-link {
  color: var(--white-color);
  transition: color 250ms var(--timing-function);
}

.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

.address__link {
  color: var(--second-text-color);
  transition: color 250ms var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer-media-list {
  display: flex;
  justify-content: center;
}

.footer-media-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  color: var(--white-color);
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-media-link {
  fill: var(--white-color);
  background-color: var(--icon-bg-color);
}

.footer-media-item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-btn {
  display: block;
}

.subscribe-input {
  padding-left: 16px;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 10px;
}

.subscribe-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: 0;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .footer-media-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }
  .footer__contacts {
    margin-bottom: 0;
    align-items: baseline;
  }
  .subscribe-btn {
    margin-top: 0;
    margin-left: 12px;
  }
  .footer-adress {
    max-width: 230px;
    margin-right: 70px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .subscribe {
    margin-left: 93px;
  }
  .subscribe-form {
    display: flex;
  }
  .subscribe-input {
    width: 358px;
  }
}

.portfolio {
  padding: 60px 0;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.menu-btn {
  font-weight: 500;
  line-height: 1.63;
  background-color: var(--btn-color);
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
}

.menu-btn:hover, .menu-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-section:not(:last-child) {
  margin-right: 8px;
}

.menu-section:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .product-overlay,
.portfolio-link:focus .product-overlay {
  transform: translateY(0);
}

.portfolio-item-pic {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  padding: 77px 24px;
}

.product-overlay-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.portfolio-item-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-item-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-item-desc {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

.portfolio-item {
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-item .portfolio-item-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .portfolio-menu {
    justify-content: center;
  }
  .menu-section:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-item:nth-child(odd) {
    margin-right: 30px;
  }
  .portfolio-item-wrapper {
    width: 354px;
    letter-spacing: 0.03;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .portfolio-item:nth-child(odd) {
    margin-right: 0;
  }
  .portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .portfolio-menu {
    margin-bottom: 50px;
  }
  .product-overlay {
    padding: 63px 24px;
  }
  .portfolio-link {
    display: block;
  }
  .portfolio-item-wrapper {
    width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */