.features {
  display: flex;
}

.features__item {
  max-width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--btn-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__desc {
  line-height: 1.71;
  color: var(--second-text-color);
  margin-bottom: 0;
}
