.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid var(--overlay-modal);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 0;
  cursor: pointer;
  padding: 0;
  &:focus > .btn-icon {
    fill: var(--accent-color);
  }
}

.btn-icon {
  transition: fill 250ms var(--timing-function);
  &:hover {
    fill: var(--accent-color);
  }
}


@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}