:root {
    --accent-color: #2196f3;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --bg-color: #2f303a;
    --white-color: #ffffff;
    --black-color: #000000;
    --btn-color: #f5f4fa;
    --hover-color: #188ce8;
    --border-color: #eeeeee;
    --header-border-color: #ececec;
    --icon-color: #afb1b8;
    --icon-bg-color: #44454e;
    --overlay-bg: rgba(47, 48, 58, 0.8);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --overlay-modal: rgba(0, 0, 0, 0.2);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --input-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
  }